<h1>Projects In Progress</h1>

<a href='/projects/new'>New</a>

<div class='row'>
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>created at</th>
          <th>short description</th>
          <th>status</th>
          <th>organizer</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.created_at.strftime("%m/%d/%y") %></td>
            <td><%= project.short_description %></td>
            <td><%= project.status %></td>
            <td><%= project.organizer %></td>
            <td><%= project.link %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
