<div class='row'>
  <div class='small-8 columns'>
    <h1><%= @project.name %>-<%= link_to 'edit', edit_project_path %></h1>
    <h2>What is this project about</h2>
  </div>

  <div class='small-4 columns'>
    <br>
    <h2>Comments</h2>
  </div>

  <div class='small-6 columns' style='margin-top: 10px;'>
    <p><b>Description</b>: <%= @project.description %></p>
 <!-- TODO check if project user is current_user and display Edit -->
    <p><b>Current Status</b>: <%= @project.status %></p>
    <p><b>The organizer and maintainers</b>: <%= @project.organizer %></p>
    <p><b>Source code / link</b>: <%= @project.link %></p>
  </div>

  <div class='small-6 columns'>
    <%= form_for([@project, @comment]) do |f| %>
      <%= f.label :comment %>
      <%= f.text_field :comment %>

      <%= f.submit 'submit comments' %>
    <% end %>

    <% @project.comments.each do |c| %>
      <!-- TODO put name instead of created time -->
      <p><b><%= c.created_at.strftime("%d %b. %Y") %></b>: <%= c.comment %></p>
    <% end %>
  </div>
<div>
