<h1><%= @project.name %>-<%= link_to 'edit', edit_project_path %></h1>

<h2>What is this project about</h2>
<%= @project.description %>

<h2>Current Status</h2>
<%= @project.status %>

<h2>The organizer and maintainers</h2>
<%= @project.organizer %>

<h2>View the project or contribute</h2>
<%= @project.link %>


<div>

