<html lang="en">
<head>
    <% provide(:title, 'NewBranches') %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='wrapper'>

      <%= render 'partials/nav' %>
      <div class="row">
        <div class="small-9 small-offset-1 small-centered columns">

          <% flash.each do |name, msg| %>
            <%= msg %>
          <% end %>

          <%= yield %>
        </div>
        <div class="small-2 columns">
        </div>
      </div>
    </div><!--wrapper ends--!>
    <div class='push'></div>

    <div class='row'>
      <div class='small-9 small-offset-1 columns'>
        <div class='footer'>
          <p>Created By <a href='https://github.com/jmoon90'>John Moon </a>& <a href='https://github.com/Colinsmix'>Colin Shields</a></p>
        </div>
      </div>
    </div>
  </body>
      <%= javascript_include_tag "application" %>
  </html>
